/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: "Poppins", sans-serif;
  color: #343a40;
  font-size: 18px;
  height: 100vh;
  background-color: blue;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: aliceblue;
  width: 900px;
  height: 555.5px;
  border-radius: 16px;
  padding: 8px;

  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 35px 200px 1fr 35px;
}

.add-list {
  grid-row: 1;
  grid-column: 2 / 3;
  margin-left: auto;
  /* font-size: 14px; */
}

main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.add-list-bottom {
  grid-row: 5;

  display: flex;
  align-items: center;
  gap: 12px;
}

/* SPECIFIC */

.icon {
  width: 24px;
  height: 24px;
}
.dot {
  border: none;
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
}

.dot--orange {
  background-color: orange;
}

.dot--green {
  background-color: green;
}
